<particle-component>
  <g each={ particle in props.particles }>
    <rect
      x={ particle.displayX }
      y={ particle.displayY }
      width="5"
      height="5">
    </rect>
  </g>
</particle-component>
