<particle-component>
  <g each={ particle in props.particles }>
    <rect
      x={ particle.displayX }
      y={ particle.displayY }
      width="2"
      height="2">
    </rect>
  </g>
  <script>
    export default {
      onBeforeMount(props) {
      }
    }
  </script>
</particle-component>
