<particle-obj>
  <div class="particle"
       style={`
         top: ${props.particle.y}px;
         left: ${props.particle.x}px;
       `}
  >😊</div>

  <style scoped>
    .particle {
      position: absolute;
    }
  </style>
</particle-obj>